<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://unpkg.com/vue@3"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
</head>
<body>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
    <nav class="navbar bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="">Belles Party Recipe List</a>
        </div>
    </nav>
    <div id="app" style="padding-top:10px">
        <div class="container">
            <div class="row">
                <div class="col mb-3">
                    <div>
                        <strong>
                            Select your allergens:
                        </strong>
                    </div>
                    <span v-for="allergen in listOfAllegens" class="form-check form-check-inline">
                        <input  class="form-check-input" type="checkbox" :id="allergen" :value="allergen" v-model="checkedAllergens">
                        <label class="form-check-label" :for="allergen">{{allergen}}</label>
                    </span>
                </div>
            </div>
            <div class="row">
                <div class="col mb-3">
                    <div>
                        <strong>Filter by recipe:</strong>
                    </div>
                    <input v-model="recipeNameFilter" placeholder="Enter name of recipe" />
                </div>
            </div>
            <div class="row">
                <div class="col mb-3">
                    <a type="button" @click="resetFilters"  class="btn btn-primary">Reset Filters</a>
                </div>
            </div>
            <div class="row">
                <div class="col">

                    <table class="table table-hover ">
                        <thead>
                            <tr>
                                <th style="width:40%;">Recipe</th>
                                <th style="width:30%;">Ingredient</th>
                                <th style="width:30%;">Allergen</th>
                            </tr>
                        </thead>
                        <tbody style="font-size: .75em">
                            <tr v-if="recipesToShow.length != 0" v-for="recipe in recipesToShow" >
                                <td>
                                    {{recipe.name}}
                                </td>
                                <td>
                                    <div v-for="ingredient in recipe.ingredients" style="padding-bottom: 5px">
                                        {{ingredient}}
                                    </div>
                                </td>
                                <td>
                                    <div v-for="allergen in recipe.allergens" style="padding-bottom: 5px">
                                        {{allergen}}
                                    </div>
                                </td>
                            </tr>
                            <tr v-else>
                                <td colspan="3">
                                    Sorry, no food options
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <script>
        const { createApp } = Vue
      
        createApp({
          data() {
            return {
                listOfAllegens: [],
                ingredients: [
                    {
                        name: "Tasty Cheese",
                        allergen: ["Dairy"]
                    },
                    {
                        name: "Mozzarella Cheese",
                        allergen: ["Dairy"]        
                    },
                    {
                        name: "Plain Flour",
                        allergen: ["Gluten"]
                    },
                    {
                        name: "Milk",
                        allergen: ["Dairy"]
                    },
                    {
                        name: "Worcestershire Sauce",
                        allergen: ["Chilli", "Spicy"]
                    }
                ],
                recipes: [
                    {
                        name: "Lasagne Cup",
                        ingredients: ["Mozzarella Cheese", "Tasty Cheese", "Worcestershire Sauce"]
                    },
                    {
                        name: "Cinnamon Scrolls",
                        ingredients: ["Cinnamon", "Milk"]
                    }

                ],
                startingRecipeList: [],
                recipesToShow: [],

                checkedAllergens:[],
                recipeNameFilter: ""
            }
          },
          watch:{
            checkedAllergens (newList){
                this.filterList();
            },
            recipeNameFilter(newFilter){
                this.filterList();
            }
          },
          mounted(){
            this.recipes.forEach(element => {
                var recipePlusAllergen = {
                    name: element.name,
                    ingredients: [],
                    allergens: []
                }
                
                var tempListOfAllegens = [];
                element.ingredients.forEach(ingredient => {
                    recipePlusAllergen.ingredients.push(ingredient);
                    var allergens = this.findAllergens(ingredient);
                    if (allergens){
                        allergens.forEach(allergen => {
                            tempListOfAllegens.push(allergen);
                        });
                    }
                    
                });
                
                let uniqueAllergens = [...new Set(tempListOfAllegens)];
                recipePlusAllergen.allergens = uniqueAllergens;
                this.startingRecipeList.push(recipePlusAllergen);
                this.recipesToShow = this.startingRecipeList;
            });

            this.ingredients.forEach(element => {
                if (element.allergen){
                    element.allergen.forEach(allergen => {
                        this.listOfAllegens.push(allergen);
                    });
                }
            });
            this.listOfAllegens = [...new Set(this.listOfAllegens)];

            const queryString = window.location.search;
            const urlParams = new URLSearchParams(queryString);
            const recipeFromURL = urlParams.get('recipe');
            if (recipeFromURL){
                this.recipeNameFilter = recipeFromURL;
                this.filterList();
            }

          },
          methods: {
            filterList(){
                this.recipesToShow = this.startingRecipeList;

                if (this.checkedAllergens.length != 0){
                    this.checkedAllergens.forEach(element => {
                        this.recipesToShow = this.recipesToShow.filter(function(obj ) {
                            return !obj.allergens.includes(element);
                        });
                    });
                }

                if (this.recipeNameFilter){
                    var filter = this.recipeNameFilter.toUpperCase();
                    this.recipesToShow = this.recipesToShow.filter(function(obj ) {
                        let objName = obj.name.toUpperCase();
                        return objName.indexOf(filter) != -1;
                    });
                }
            },
            findAllergens(ingredient){
                var listOfAllegens = [];
                let obj = this.ingredients.find(o => o.name === ingredient);
                if (obj && obj.allergen){
                    return obj.allergen;
                } else {
                    return null;
                }
            },
            resetFilters(){
                this.checkedAllergens = [];
                this.recipeNameFilter = "";
            }

          }
        }).mount('#app')
      </script>


</body>
</html>